# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

| Data Science Tools        |
|---------------------------|
| Jupyter Notebooks          |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.
**Addition**:'3+9=12'
**Substraction**:'6-2=4
**Multiplication**:'3*2=6'

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
hours=200/60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Identify key libraries used in Data Science.
- Demonstrate arithmetic operations in Python.
- Convert units of measurement (e.g., minutes to hours).
- Explore data science tools and environments.

## Author
Paawani